* { 
    margin: 0; 
    padding: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
} 

.container { 
    width: 100%; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
} 

.container h1 { 
    font-size: 25px; 
} 

.container h3 { 
    font-size: 20px; 
} 

.heading { 
    border: 2px solid green; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px red,-5px -5px 10px purple;
    padding: 5px; 
    font-weight: 700; 
    text-align: center; 
    width: 400px; 
} 

#area { 
    height: 200px; 
    width: 400px; 
    resize: none; 
    font-size: 15px; 
    font-weight: 700; 
    padding: 5px; 
    margin-top: 15px; 
    color: rgb(17, 0, 128); 
    outline: none; 
    border: 2px solid green; 
    border-radius: 10px;
    box-shadow: 5px 5px 2px red,-5px -5px 2px purple;
    
    
} 
#area:focus { 
    border: 2px solid green; 
    outline: none; 
    
} 

.result { 
    color: green; 
    font-size: 20px; 
    width: 401px; 
    text-align: center; 
    font-weight: 700; 
    padding: 5px; 
    border: 2px solid green; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px red,-5px -5px 10px purple;
    margin-top: 10px; 
} 

#word, 
#char { 
    font-size: 25px; 
    font-weight: bold; 
    text-decoration: underline; 
} 