* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
header {
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgba(163, 80, 58, 1) 0%,
    rgba(0, 91, 212, 0.5) 100%,
    rgba(238, 130, 238, 1) 100%
  );
}
.head {
  width: 100%;
  text-align: center;
}

.head img {
  border-radius: 42% 58% 47% 53% / 52% 28% 72% 48%;
}
.head img:hover {
  scale: 1.05;
}
.head h1 {
  font-family: Fugaz One;
  color: red;
  font-size: 4vw;
}

#top {
  position: relative;
}

/* ///////////////////// */

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(32, 32, 32, 0.8);
}
nav ul {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav li {
  list-style-type: none;
  font-weight: 600;
}
nav li a {
  color: white;
  text-decoration: none;
}

/* /////////////////// */

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/backgroundimage.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero .overlay {
  color: #ffffff;
  padding: 1.5rem;
  text-align: center;
  border-radius: .6rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero_btn {
  color: white;
  background-color: #4caf50;
  font-weight: 800;
  margin: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.img-svg img:first-child{
  position: absolute;
  right: 0;
  bottom: 0;
  animation-name: biker;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}


/* //for this put animation easeinout  */

/* @keyframes biker{
  0%{
    bottom: 0;
    right: 0;
  }
  25%{    bottom: 0;
    right: 100%;}
 
  50%{    bottom: 0;
    right: 100%;
    transform: rotateY(180deg);
  }
  75%{    bottom: 0;
    right: 50%;
    transform: rotateY(180deg);
  }
  100%{    bottom: 0;
    right:0;
    transform: rotateY(180deg);
  }
} */

@keyframes biker{
  from{
  right: 50px;;
  bottom: 0;
  rotate: 50deg;
  
}
to{right: 85%;
  bottom: 0;
  
}
}

.img-svg img:last-child{
  opacity: 0.5;
  position: absolute;
  bottom: 1%;
  left: 0;
}
/* ////////////////// */
#about-container {
  text-align: center;
  background-color: rgba(46, 47, 49, 0.712);
}
#about-container > h2 {
  padding: 2rem;
  font-size: 2.2rem;
  font-weight: 900;
  font-family: Fugaz One;
  color: red;
}
#about {
  min-height: 80vh;
  width: 100%;
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 30vw;
  border-radius: 50%;
}
.about-img img {
  animation-name: animate;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.about-img img:hover {
  cursor: pointer;
}
@keyframes animate {
  0% {
    border-radius: 85% 15% 87% 13% / 13% 83% 17% 87%;
  }
  25% {
    border-radius: 55% 45% 61% 39% / 29% 51% 49% 71%;
  }
  50% {
    border-radius: 26% 74% 37% 63% / 79% 26% 74% 21%;
  }
  75% {
    border-radius: 1% 99% 2% 98% / 99% 12% 88% 1%;
  }
  100% {
    border-radius: 85% 15% 87% 13% / 13% 83% 17% 87%;
  }
}
.about-text {
  width: 50vw;
  font-size: 1.5rem;
  text-align: justify;
  padding-left: 1.5rem;
}
.about-text p {
  font-family: Cambria;
  margin-bottom: 0.65rem;
}
/* ////////////////////// */
#menu-container {
  padding: 2rem;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(81, 80, 69, 1) 0%,
    rgba(0, 91, 212, 0.5) 100%
  );
}
#menu-container > h2 {
  padding: 0.75 1.25rem;
  font-size: 2.2rem;
  font-weight: 900;
  font-family: Fugaz One;
  color: red;
}
#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4.5rem 1.25rem;
}
.card {
  height: 20rem;
  width: 16.5rem;
  margin-left: 1.4rem;
  text-align: center;
  background-color: rgba(49, 47, 47, 0.603);
  border-radius: 0.6rem;
  overflow: hidden;
  transition: scale 1s ease;
}
.card h2 {
  color: orange;
}
.card img {
  width: 100%;
  height: 9rem;
  margin-bottom: 1.25rem;
}
.card p {
  margin-block: 0.65rem;
}
.card:hover {
  scale: 1.05;
  box-shadow: 10px 8px 5px rgb(8, 8, 8);
  cursor: pointer;

}

/* /////////////// */
#contact {
  padding-top: 2rem;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(163, 80, 58, 1) 0%,
    rgba(0, 91, 212, 0.5) 100%,
    rgba(238, 130, 238, 1) 100%
  );
}
#contact > h2 {
  font-size: 2.2rem;
  font-weight: 900;
  font-family: Fugaz One;
  color: red;
}
.contact {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}
.contact-box {
  width: 100%;
}
.contact-box > input {
  width: 50%;
  height: 2.5rem;
  margin-bottom: 1.25rem;
  border-radius: 0.75rem;
  padding: 0.8rem 1rem;
}
.contact-box label {
  font-size: 1.2rem;
  font-weight: 800;
}
textarea {
  width: 60%;
  height: 10rem;
  padding: 1.25rem;
}

.formbtn {
  background-color: #04aa6d;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.8rem;
  margin-top:1.25rem;
}
.formbtn:hover {
  background-color: #17ccbd;
}
iframe {
  width: 100%;
  height: 50vh;
}

/* ///////////////// */
a {
  text-decoration: none;
}

.links {
  width: 100%;
  background-color: rgba(32, 32, 32, 0.8);
  text-align: center;
  padding: 1.25rem;
}
.social i {
  margin-right: 1.75rem;
  margin-bottom: 0.75rem;
}
.backtotop {
  padding: 0.4rem 0.5rem;
  border: none;
  border-radius: 0.33rem;
  color: #ffffff;
  position: fixed;
  bottom: 1.25rem;
  right: 0.75rem;
  background-color: steelblue;
  cursor: pointer;
}

/* //////////// */
.links{
  color: white;
}
.social a:nth-child(even){
  color: red;
}
.social a:nth-child(odd){
  color: black;
}
.social a:first-child{
  color: blue;
}

@media only screen and (max-width: 750px) {
  .head h1 {
    font-size: 2rem;
  }
  .head h2 {
    font-size: 1.75rem;
  }
  #about {
    font-size: 1rem;
  }
  .about-img {
    width: 40vw;
  }
}

@media only screen and (max-width: 600px) {
  .head h1 {
    font-size: 1.75rem;
  }
  .head h2 {
    font-size: 1.25rem;
  }
  #about {
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
  }
  .about-img {
    width: 70vw;
  }
  .about-text {
    width: 90vw;
  }
  .img-svg img{
    height: 100px;
  }
}
